.header {
  height: 100px;
  font-size: 60px;
  font-family: Helvetica;
  color: white;
  position: relative;

  animation-name: heading;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes heading {
  0% {
    top: -100px;
    left: 900px;
    opacity: 0;
  }
 
  100% {
    top: 90px;
    left: 500px;
    margin-left: 100px;
  }
}
